html, body {
  margin: auto;
  max-width: 95%;
  /* position: relative; */
}
/* 
body:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
  width: 100%;
  height: .3em; 
} */


.jumbotron {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 20%,rgba(255,153,153,0) 20%,rgb(255, 255, 255) 80%), url("https://cdn.mos.cms.futurecdn.net/rDoUdp5ASgqnTpYLGvkyDF-970-80.jpg.webp");
  background-size: cover;
  font-family: 'Permanent Marker', cursive;
  /* box-shadow: 0 0 10px black inset; */
  background-position: center;
  background-size: cover;
}


#navSearchBar {
  margin-right: 5em;
}
h1 {
  text-align: center;
  font-weight: 600;
  font-family: 'Permanent Marker', cursive;
}

.secondHeader{
  color: black;
  font-weight: 600;
  font-size: 3em;
}
.secondHeader2{
  color: rgb(68, 67, 67);
  font-weight: 600;
  font-size: 4em;
}




h1 span span {
  color: rgb(143, 138, 138);
  text-shadow: 6px 5px 5px rgb(0, 0, 0);
  position: relative;
  bottom: -1em;
  opacity: 0;
  animation: move-text 0.75s forwards;
  font-size: 5em;
}
h1 span span:nth-child(2n) { color: rgb(114, 111, 111); }
h1 span span:nth-child(3n) { color: rgb(88, 85, 85); }
h1 span span:nth-child(4n) { color: rgb(126, 125, 125); }
h1 span span:nth-child(5n) { color: rgb(172, 169, 169); }

@keyframes move-text {
  0% {
    bottom: -0.2em;
    opacity: 1;
  }
  
  50% {
    bottom: 0.2em;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}


@media screen and (max-width: 500px) {
  body {
    transform: scale(0.75);
  }
}

/* Featured Artist Image Pulse */

.pulse {
  border: #000000 solid thin;
  margin: auto;
  display: block;
  width: 70%;
  height: 70%;
  background: #000000;
  box-shadow: 0 0 2px rgba(170, 169, 163, 0.4) inset;
  animation: pulse 1.5s infinite;
}

@-webkit-keyframes pulse {
  30% {
    -webkit-box-shadow: 0 0 0 0 rgba(7, 7, 7, 0.4);
  }
  80% {
      -webkit-box-shadow: 0 0 0 9px rgba(20, 20, 20, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  20% {
    -moz-box-shadow: 0 0 0 0 rgba(44, 44, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(29, 29, 29, 0.4);
  }
  80% {
      -moz-box-shadow: 0 0 0 9px rgba(204,169,44, 0);
      box-shadow: 0 0 0 9px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

/* Form */

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
    margin: 0 auto;
    max-width: 320px;
  }

  .Login Form {
    margin: 0 auto;
    max-width: 320px;
  }
}

/* Explore Container */

.exploreBg {
  background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6208f106-928e-47bb-80b1-ce55b9e82b98/d33wrsf-13a062e0-a929-4c26-80f1-98356244e6f6.jpg/v1/fill/w_1024,h_768,q_75,strp/metal_surface_texture_2_by_fantasystock_d33wrsf-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzY4IiwicGF0aCI6IlwvZlwvNjIwOGYxMDYtOTI4ZS00N2JiLTgwYjEtY2U1NWI5ZTgyYjk4XC9kMzN3cnNmLTEzYTA2MmUwLWE5MjktNGMyNi04MGYxLTk4MzU2MjQ0ZTZmNi5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Q8gwNtDSkiwhtZ8j_WNraiz34XbJ4R022lblwBjT5gw");
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

/* Div Scroll Bar on Profile Page */

.itemconfiguration
{
    height: 80%;
    width: 70%;
    overflow-y: auto;
    float: left;
    position: relative;
}

.left_contentlist
{
    margin-top: 2em;
    width:50%;
    float:left;
    padding:0 0 0 5px;
    position:relative;
    float:left;
}

/* punk dude rocking */

#rocker {
  -webkit-animation: rocker 2s infinite; /* Safari 4+ */
  -moz-animation:    rocker 2s infinite; /* Fx 2+ */
  -o-animation:      rocker 2s infinite; /* Opera 12+ */
  animation:         rocker 2s infinite; /* IE 10+, Fx 29+ */
  height: 40%;
  width: 40%;
}

@keyframes rocker {
  0%   { transform: rotate(0deg); }
  25% { transform: rotate(20deg); }
  50% { transform: rotate(-20deg); }
  100% { transform: rotate(0deg); }
}

/* Drag Drop */
.drag-container {
  text-align: center;
}

.head {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #CCCCCC;
  width:100%;
}

.droppable {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 0;
  top: 10;
  background-color: #9E9E9E;
  border-left: 2px dotted red;
}

.draggable {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 10px auto;
}

.inProgress {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 0;
  top: 10;
  background-color: #EEEEEE;
  border-right: 2px dotted red;
}

